
/*css del acquisto.jsp da cambiare il nome*/
.complete{
	margin: 15%;
	padding: 5%;
	background-color: #FFDEAD;
	border: 5px solid black;
	box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.5);
	
}

h2{
	font-size: 18pt;
	margin-bottom: 5%;
	font-family: Rockwell, serif;
}

.sottotitolo{
	font-size: 10pt;
	margin-bottom: 5%;
	font-family: Helvetica, sans-serif;
}

table{
	background-color: white;
	width: 100%;
	border: 2px solid black;
	margin-bottom: 15%;
	text-align: center;
}

tr{
	font-size: 10pt;
}

td{
	font-size: 10pt;
	padding: 7px;		/*padding tra elementi*/

}
button{
  	position: absolute;	
  		left: 50%;
 	transform: translate(-50%, -50%);	/*posiziona al centro della pagina*/
	width: 20%;
	padding: 7px;
	background-color: #ff6347;
	border: 1px solid black;
		border-radius: 15px;
	font-family: Helvetica, sans-serif;
}

button > a{
	text-decoration: none;
	color: black;
	
}

button:hover{

	background-color: #F4A460;
	transition: all .3s;
	cursor: pointer;s
}