
a{
	color: black;
	text-decoration: none;
}

button{
	background-color: #ff6347;
	border: 1px solid black;
		border-radius: 15px;
	width: 100px
}

button:hover{
	transition: .3s;
		background-color: #F4A460;
	cursor: pointer;
	
}
.text > p{
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	color: red;
	font-weight: bold;
}

.title{
	width: 40%;
	margin:5%;
	background-color: white;
	border: 1px solid black;
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}

#titolo{			/*gestisco il titolo carrello*/
	font-family: Rockwell, serif;
	text-transform: uppercase;
	font-size: 25pt;
	font-weight: bold;
	margin: 5%;
	margin-left: 5%;
}
 
.button_svuotaCarrello{	/*bottone di svuota carrello*/
	width: 50%;
	margin-top: 10%;
	position: relative;
		left: 20%;	
}

.conteiner{				/*gestisco la div dei prodotti e la div del prezzo*/
	display: flex;
}

.listaprodotti{	/*div degli elementi*/
	margin: 5%;
	padding: 3%;
	border: 1px solid black;
	width: 50%;
	background-color: white;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.elementi{			/*gli elementi singoli*/
	margin: 5%;
	display: flex;			/*gestisce le scritte vicino le immagini*/
		align-items: center;		/*mette immagini e scritte allineate*/
	text-align: center;
}

.elementi .text{		/*gestisco il testo che si riferisce ai singoli prodotti*/	
	margin: 3%;	
	margin-left: 15%;
}

.elementi .text > a{
	font-size: 12pt;
	font-family: Cambria, serif;
}

.label_modello{
	font-weight: bold;
}

.labelqty{
	font-size:13pt;
	font-family: Helvetica, sans-serif;
}

.div_acquisto{	/*la div del prezzo*/
	background-color: white;
	margin: 8%;
	padding: 3%;
	widtH: 30%;
	height: 20%;
	border: 1px solid black; 
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.div_acquisto > button{
	padding: 10px;
	width: 250px;
	border-radius: 10px;
}

#immag{
	width: 30%;
	height: 30%;
}

#immag:hover{
	transform: scale(1.5);	/*quando ci passo sopra si ingrandisce l'imm*/
    transition: all .4s;
}

.pulsanti{		/*gestisco i singoli add e remove*/
	width: 50%;
	display: flex;
	margin: 5%;
	padding: 5%;
}

.somma_title{
	font-family: Rockwell, serif;
	text-transform: uppercase;
	font-size: 16pt;
	font-weight: bold;
}

.euro{
	font-size: 18pt;
	font-family: Rockwell, serif;
	color:#B0171F;
	margin: 7%;
}

.cart_empty{
	margin: 5%;
}

.cart_empty > button{
	width: 200px;
	height: 30px;
	margin-top: 3%;
	background-color: #ff6347;
		border-radius: 20px;
	
}

.cart_empty > h2{
	margin-bottom: 20px;
	font-size: 26pt;
	font-family: Rockwell, serif;
	text-transform: uppercase;
}

.cart_empty > img{
	margin-bottom: 50px;
	position: relative;
		left: 30%;
}
 
.cart_empty > p{
	font-family: Helvetica, sans-serif;
}

.cart_empty > button:hover{
	font-weight: bold;
	background-color: #F4A460;
	transition: all .4s;
}