@charset "utf-8";

html, body {
  	min-height: 100%;
  /*	background-color: #C6E2FF;*/

}

#carrello{			/*gestisco la totalità della pagina*/
	padding: 0 10% 10% 10%;
	width:100%;
	margin-bottom: 10%;
	
}

.listProdCarrello {	/*gestisce la divisione tra le parti del carrello*/
	 width: 100%;
  	
}

.titoloCarrello {				/*gestisce la parte della scritta carrello e l'icona svuota carrello*/
	border-bottom:2px solid black;
	font-weight:bold;
		margin-top: 4%;
	display:flex;
		justify-content: center;
		
}

.titoloCarrello > p{			/*gestisce la scritta carrello*/
	font-family: Helvetica, sans-serif;
	font-size: 16pt;
}

#immag{		/*immagini dei prodotti*/
	width:100%;
}

#immag:hover{
	transform: scale(2.1);	/*quando ci passo sopra si ingrandisce l'imm*/
    transition: all .4s;
}

.pulsanti {	/*gestisco i pulsanti add e remove*/
 
 	padding: 5px;
    background-color: #FFDEAD;
    	
    border: 2px solid black;
    	border-radius: 3px;
}

.pulsanti:hover{
	background-color: #FFEFD5;
	cursor: pointer;
	transition: all .3s;
}

.prodottoCarrello {	/*gestisco la visualizzazione dei prodotti nel carrello*/
	display:flex;
		justify-content: center;
	
	/*font-weight:bold; */
    text-align: center;
    
    padding: 3% 3%;
    margin: 5% auto;
    border-bottom: 1px solid #ff6347;
    align-items:center;
    width:100%;
    max-height:300px;
    gap:4px;

}

.prodottoCarrello > div {/*gestisco i singoli div tra di loro*/
  margin: 3%;
  text-align: center;
  font-size: 1.em;
  width: 15%;
  display: flex;
  	gap: 10%;
} 

.label, .prodPrezzo, .labelqty {	/*i label*/
	font-family: Nimbus Sans L, sans-serif;
	font-size: 12pt;
	margin: 0;
}
/*
.rimuoviProdottoCarrello {	
	border: none;
	background-color: rgba(255,255,255,0);
}
*/

.svuotaCarrello {
	text-decoration: none;
	border: 2px solid black;
		border-radius: 1em;
	font-size: 0.5em;
	background-color: #FFDEAD;

	text-align:center;
	width: 100%;
	padding: 7px;
    margin: 3px;
}

.svuotaCarrello:hover {
	background-color: #FFEFD5;
	transition: all 0.3s;
	cursor: pointer;
}

.cart_empty{ /*gestisce quando il carrello è vuoto*/
	display: grid;
  		place-items: center;		

	padding-top: 5%;

}

.cart_empty p{
	font-family: Apple Chancery, cursive;
	font-size: 20pt;
	font-weight: bold;
	padding-top: 5%;
}


@media (max-width:1000px){
	.prodTitolo, .prodPrezzo, .prodLabel {
		font-size:1em;
	}
	
	.rimuoviProdottoCarrello{
		padding-top:15px;	
	}	
}

@media (max-width:800px){
	.prodTitolo, .prodPrezzo, .prodLabel {
		font-size:0.9em;
	}
	
	.rimuoviProdottoCarrello{
		padding-top:15px;	
	}
}

@media (max-width:600px){
		.prodTitolo, .prodPrezzo, .prodLabel {
		font-size:0.8em;
	}
	
	.rimuoviProdottoCarrello{
		padding-top:15px;	
	}
}

@media (max-width:500px){
	#carrello{
	display:flex;
	flex-direction:column;
	width:100%;
	}
	
	.listProdCarrello{
		width:85%;
	}
	
	.rimuoviProdottoCarrello{
		padding-top:15px;	
	}
}

@media (max-width:353px){
	.svuotaCarrello{
		font-size:0.5em;
	}
}