@charset "UTF-8";

*{
	box-sizing: border-box;
}

div.product h3{
    font-family: Arial, Helvetica, sans-serif;
}

div.product p{
    font-family: Arial, Helvetica, sans-serif;
}

div.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 400px; /* Larghezza della sidebar + margine sinistro desiderato */
    margin-right: 400px; /*Dopo svariate prove sono arrivato alla conclusione che lettere non era infondo così male*/
    margin-bottom: 100px; /* Spazio inferiore per il footer */
}

div.product-item {
	border: 1px solid black;
	padding: 10px;
  	margin: 20px; /* Aggiungi uno spazio tra i container */
  	flex-basis: 10%;
}

div#sidebar {
    width: 200px;
    height: 2000px;
    margin-left: 100px;
    float: left; /* Aggiunto float: left per far sì che la sidebar venga posizionata a sinistra */
    background-image: url(../image/sidebar.jpeg);
}


div#sidebar2 {
    width: 200px;
    height: 2000px;
    margin-right: 100px;
    float: right; /* Aggiunto float: left per far sì che la sidebar venga posizionata a sinistra */
    background-image: url(../image/sidebar.jpeg);
}



@media (max-width: 767px) {
    div.product-item {
        margin: 20px; /* Aggiungi uno spazio tra i container */
        flex-basis: 50%;
    }
}


