@charset "UTF-8";


section#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top:100px;
    margin-bottom: 100px;
}

section#container div#product-item{
    margin-top: 30px;
    margin-left: 30px;
}

div#sidebar {
    width: 200px;
    height: 5000px;
    margin-left: 100px;
    float: left; /* Aggiunto float: left per far sì che la sidebar venga posizionata a sinistra */
    background-image: url(../image/sidebar.jpeg);
}


div#sidebar2 {
    width: 200px;
    height: 5000px;
    margin-right: 100px;
    float: right; /* Aggiunto float: left per far sì che la sidebar venga posizionata a sinistra */
    background-image: url(../image/sidebar.jpeg);
}
