
body{
	background-color: white;
}

#image > img{
	width: 100%;
}
.content{
	margin: 5%;
}

.elementi{
	display: flex;
	margin: 5%;
}

#image{
	width: 30%;
	height: 30%;
	border: 1px solid black;
	padding: 1%;

}

.text{

	text-align: center;
	margin-left: 30%;
	font-weight: bold;
	padding-bottom: 50px;
}

#marca{
	font-family:Candara, sans-serif;
	font-size: 35pt;
	text-transform: uppercase;
	padding-bottom: 10px;
}

#modello{
	font-family: Helvetica, sans-serif;
	font-size: 14pt;
	text-transform: uppercase;

}

#category{
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
	padding-bottom: 20px;
}

#prezzo{
	color: red;
	font-family: Gill Sans, sans-serif;
	font-size: 20pt;
	padding-bottom: 40px;
}

#color{
	padding-bottom: 10%;
}

#descrizione{
	padding: 1%;
	border: 1px solid black;
}


#descrizione .title_descr > p{
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	font-size: 12pt;
}

#descr > a{
	font-family: Helvetica, sans-serif;
	font-size: 10pt;
}
#descrizione .title_descr{
	display: flex;
}

#descrizione button{
	width: 4%;
	height: 2%;
	margin-left: 1%;
}

form{
	display: flex;
		flex-direction: column;
	padding-top: 40px;
	width: 150%;
	
}

input[type="number"]{
	padding-bottom: 5px;
}

input[type="submit"]{
	padding: 3%;
	background-color: black;
	color: white;
	font-family: Garamond, serif;
	font-size: 15pt;
}

#butt:hover{
	cursor: pointer;
}
