@charset "UTF-8";

#footer-large {
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  z-index: 1;
  clear: both; /* Aggiunto clear: both per far sì che il footer venga posizionato al di sotto di entrambi i contenitori */
}

