@charset "utf-8";

* {
    box-sizing: border-box;		
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}

#header-large {		/*gestione header*/
    display: flex;		/*mette in fila*/
    justify-content: space-between;		/*spazio tra gli elementi*/	
    height: 80px;
    background-color: #ff6347;	
    align-items: center;	/*allinea gli elementi al centro orizzontale dell'header*/
    padding: 0 5%;		/*margini dal lato*/
}

.logo {	/*modifica logo*/
    height: 60px;
}

/*con hover gestiamo le transizioni*/
.logo:hover {				/*transizioni del logo*/
    transform: scale(1.1);
    transition: .3s;
}

.parametri {
    display: flex;	/*metto i  parametri in fila*/
   		gap: 25px;		/*gap tra oggetti*/ /*usato solo con l'istruzione "display"*/

}

.parametri a {		/*gestisce le <a> in parametri*/
    text-decoration: none;	/*toglie le sottolineatura*/	
    color:black;
    font-weight: bold;		/*grassetto*/
}

.parametri :hover {		/*transizioni su oggetti*/
	
    transform: translateY(-3px);
    text-shadow: 4px 3px 4px  white;
    transition: .3s;
}

.search{			/*barra di ricerca*/
	width: 250px;		/*dimensione*/
	border-radius:30px;					/*bordi smussati*/
	border: 1px solid white;		/*contorni*/
	text-align: center;
}

#barra{ /* DIV CON L'INPUT E L'SVG */
	display:flex;			/*rende allineato la barra di ricerca che l'svg(l'immagine della lente d'ingrandimento)*/
		gap: 2px;	/*il gap tra i due*/
	padding-left: 5%;	/*margine con la foto quando rimpiccolisco*/
	text-color: black;

}
