@charset "utf-8";

.center{
	
  display: flex;	
  	justify-content: center;
}

.center span{
	
	font-family: Ubuntu, serif;		/*carattere testo nello <span>*/
}

.center a{
	text-decoration: none !important;	/*con important diamo la massima priorità a questa istruzione*/
	color:black !important;
	font-family: Helvetica, sans-serif;	/*carattere nel <a>	*/
}


.title{	
	
  	font-size: 6.5em;	/*dimensione caratteri titolo*/
  	position: absolute;		/*a 200 di margine dalla parte superiore*/
  		margin-top: 200px;
  		
  	animation-duration: 2s;
  	animation-name: entraTesto;	/*nome animazione per poterla gestire dopo*/
  	
  
  	color: white;
  	text-shadow: 0 0 15px #000;	/*ombra del testo*/
}


.button{
	margin-top: 370px;	/*dimensione bottone*/
	font-size: 11pt;

}

.uname{	/*gestisco quello che c'è scritto nel bottone*/
	
	display: flex;
	text-decoration: none;
	
	border: 1px solid #ff6347;
	border-radius: 2em;
	
	font-size: 1.3em;
	color: black;
	background-color: #ff6347;
	width: 100%;
	text-align: center;
	padding: 10px;
    margin: 2px;
    
    text-shadow: 0 0 10px white;   
}

.uname:hover {	/*animazione a quello scritto nel bottone*/
	color:black;
	background-color: #FF8C69;
	transition:0.4s;
	border: #FF8C69;
}

/*-------- il keyframe gestisce animazioni definite dal web in css-----------*/

		@keyframes entraTesto{	/*definisce l'animazione dell'entrata del testo*/
			0% {
			margin-top: -800px;	/*parte da -800px*/
			}	
					
			100% {
			margin-top: 205px;	/*arriva alla sua posizione nello schermo*/
			}
		}
	
